.STY_defEntreeComplet{width:560px;display:block;position:absolute;top:52px;left:20px;height:450px;overflow:auto;scrollbar-arrow-color:#dae0e6;scrollbar-darkshadow-color:#dae0e6;scrollbar-highlight-color:#dae0e6;scrollbar-track-color:#dae0e6;scrollbar-3dlight-color:#fff;scrollbar-base-color:#fff;scrollbar-face-color:#fff;scrollbar-shadow-color:#fff;}
.STY_fondContenuGLO{font:12px Arial;background-color:#fff;color:#333333;}
.STY_zoneAussiComplet{top:510px;left:50px;position:absolute;height:26px;width:530px;}
.STY_voirAussiComplet{display:inline}
.STY_fondAccueilGLO{font:12px Arial;background-color:#fff;color:#333333;}
.STY_titreFormationGLOAcc{display:inline;}
.STY_droitsAuteurGLOAcc{display:inline;}
a{font:12px Arial;color:#333333;}
.STY_cheminEntreeComplet{color:#fff;}
