.STY_fondDetailGLO{font:14px Arial;padding:5px 5px 0 10px;color:#333333;}
.STY_titreEntreeDetail{font:bold 14px Arial;margin:10px 0 5px 20px;width:420px;color:#333333;}
.STY_defEntreeDetail{font:12px Arial;margin:20px 0 20px 20px;scrollbar-track-color:#dae0e6;scrollbar-shadow-color:#fff;scrollbar-highlight-color:#dae0e6;scrollbar-face-color:#fff;scrollbar-darkshadow-color:#dae0e6;scrollbar-base-color:#fff;scrollbar-arrow-color:#dae0e6;scrollbar-3dlight-color:#fff;overflow:auto;height:280px;width:430px;}
a{font:14px Arial;color:#333333;}
.STY_voirAussiDetail{color:#000;display:inline;font-family:'Century Gothic','Avant Garde';}
.STY_cheminEntreeDetail{margin-top:10px;font-style:italic;}
.STY_zoneAussiDetail{margin-left:20px;width:430px;}
