.STY_normal{font:15px Arial;color:#333333;}
.STY_gras{font:bold 15px Arial;color:#333333;}
.STY_italic{font:italic 15px Arial;color:#333333;}
.STY_GrasRouge{color:#ff0000;font-weight:bold;}
.STY_Rouge{color:#FF0000;}

